{% extends 'base.html.twig' %}

{% block title %}cheker ses mails
{% endblock %}


{% block body %}
	<link rel="stylesheet" href="{{ asset('/css/loggin.css') }}">

	<body>
		{% include "public/shared/_navbar.html.twig" %}
		<div id="rowRegister" class="row">

			<aside id="ou_intro_register" class="col-xl-3">

				<div class="intro_register">

					<div class="sigle">
						<P id="icoco">
							<i class="fas fa-user-check"></i>
						</p>


					</p>

				</div>
				<div class="infoRegister">
					<h5 style="font-weight:bold">Mot de passe oublié
					</h5>


					<p>

						Pas de panique si vous n'avez pas recu le mail!!!
					</p>
					<p>
						Refaire la demande</p>


				</div>

				<img class="creat_account" src="{{ asset('images/register.png') }}" alt="s'enregistrer"></img>


			<div class="join">


				<a href="mailto:laurentfontaine@gmail.com" class="btn btn-success">Contacter l'Administrateur</a>
			</div>
		</div>
	</body>
</aside>
<aside id="content" class="col-xl-9">
	<div class="content_register">
		<form method="post">


			<div class="mb-6" id="regis">
				<div class="check">
					<h5 style="font-weight:bold ">
						Si votre adresse, mail est enregistrée, vous recevrez un lien pour modifier votre mot de passe.</h5>
					<h5 style="font-weight:bold ">Ce lien va expirer dans :{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
					</h5>
					<h5 style="font-weight:bold">Si vous n'avez pas recu de mail</h5>

					<h5 style="font-weight:bold">Regardez dans vos Spam ou cliquer sur ce lien pour recevoir à nouveau le mail</h5>
					<a id="btonval" class="btn btn-dark" href="{{ path('app_forgot_password_request') }}">Renvoyer à nouveau</a>
				</div>
			</div>


		</div>

	</aside>
</div>
{% include "public/shared/_footer.html.twig" %}</body>{% endblock %}
