/* ---------------pour contraste adaptabilite ------------------------------------------------------------------- */
#return_view {
  display: none;
}

.ajout {
  background-color: black;
  color: white !important;

  font-size: 30px;
}

/*------------------------------------- body --------------------------------------------*/
/* BODY */

/* squelette col-row  */
body {
  background-color: #fdf6f0;
  font-family: "Lato", sans-serif;
}

#rowAssos {
  margin-top: 15px;
  margin-left: 10px;
}
.intro_assos {
  height: 95%;
  margin-top: 15px;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  border-radius: 20px;
  border: 3px solid grey;
}

.content_component_assos {
  height: 95%;
  padding: 30px;
  width: 98%;
  margin-top: 15px;
  border: solid 3px grey;
  border-radius: 20px;
}

#icon {
  margin-top: 30px;
  font-size: 80px;
  color: teal;
}
/*--------------- specifique *-------------------------------------------------/
/* col 1 */
.intro_assos img {
  max-width: 70%;
}

.join {
  align-items: center;
  text-align: center;
}

.join p {
  padding-top: 10px;
}

.info span {
  font-style: italic;
}

.info_assos h5 {
  font-size: 30px;
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* col 2 */
/* common */
.asso_1,
.asso_2,
.asso_3 {
  margin-bottom: 30px;
}

/* avh */
.asso_1 h6 {
  color: brown;
  font-size: 20px;
  font-weight: bold;
}

.link_1 img {
  max-width: 90%;
}

.link_1 {
  width: 20%;
  text-align: center;
}

.link_1 a {
  font-weight: bolder;
}

.link_1 i {
  padding-right: 10px;
  font-weight: bolder;
}

.text_1 {
  width: 90%;
}

.asso_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*unadev   */
.asso_2 h6 {
  color: brown;
  font-size: 20px;
  font-weight: bold;
}

.link_2 img {
  max-width: 90%;
}

.link_2 {
  width: 20%;
  text-align: center;
}

.link_2 a {
  font-weight: bolder;
}

.link_2 i {
  padding-right: 10px;
  font-weight: bolder;
}

.text_2 {
  width: 90%;
}

.asso_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*Aveugles de France  */
.asso_3 h6 {
  color: brown;
  font-size: 20px;
  font-weight: bold;
}

.link_3 img {
  max-width: 90%;
}

.link_3 {
  width: 20%;
  text-align: center;
}

.link_3 a {
  font-weight: bolder;
  text-decoration: none;
}

.link_3 i {
  padding-right: 10px;
  font-weight: bolder;
}

.text_3 {
  width: 90%;
}

.asso_3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#italic {
  font-style: italic;
}

/* others */
.others h6 {
  color: brown;
  font-size: 20px;
  font-weight: bold;
}

.asso_name {
  font-weight: bold;
  color: darkslategrey;
}

.others a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.others_1,
.others_2,
.others_3 {
  padding-bottom: 25px;
}

.others_1 ul,
.others_2 ul,
.others_3 ul {
  list-style: none;
}

/* ---------------------responsive-------------------------------- */
@media screen and (max-width: 1024px) {
  .asso_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .asso_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .asso_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .link_1 {
    width: 80%;
    text-align: center;
  }
  .link_2 {
    width: 80%;
    text-align: center;
  }
  .link_3 {
    width: 80%;
    text-align: center;
  }

  .link_1 img {
    max-width: 100%;
  }
  .link_2 img {
    max-width: 100%;
  }

  .link_3 img {
    max-width: 100%;
  }

  .content_component {
    height: auto;
  }
}
