{% apply inline_css %}
<style>
	{
		# here, define your CSS styles as usual #
	}

	.divText {
		text-align: center;
	}
	li {
		text-decoration: none;
	}
</style>


{% endapply %}
<div class="divText">
	<h6>
		Bonjour
		{{ user.pseudo }},

	</h6>
	<p style:font-size="20px">
		Bienvue sur notre site Le Handicap Visuel</p>

	<p>Merci pour votre inscription</p>
	<p>
		Sur notre site :</p>
	<ul>
		<li>Des liens vers les administrations</li>
		<li>Une section actualités sur le handicap Visuel</li>
		<li>Une section dédiée aux matériels et commercants</li>
		<li>Comment apprendre facilement le braille?</li>
		<li>De l'aide avec une liste d'associations</li>
		<li>Une section échange , pour rencontrer, et partager
		</li>

	</ul>


	<p>En vous inscrivant, vous  vous engagez à respecter les règles du forum .</p>
	<p>Le nom respect de ces règles sera sanctionné par la suppression de vos post et de votre compte.</p>


	<p>Nous sommes ravis de vous acceuillir
	</p>

	<p>L'équipe Le Handicap Visuell
	</p>

</div>
